* {
    margin:0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #eee;
}
/* --- ALBUM VIEWER --- */
.no-selection{
    user-select: none;
}

.font{
    font-family: 'Noto Sans JP', sans-serif;
    color: #eee;
}

div.album{
    position: relative;
    clear: both;
    width: 50%;
    height: 50%;
    border: solid 1px #000;
    box-sizing: border-box;
    margin: 8% auto;
}
.draw_info th, .draw_info td { 
    border: solid 1px #000; 
    text-align: center; 
    vertical-align: middle; 
}
.draw_info {
    border: solid 1px #000; 
    border-collapse: collapse; 
    margin: 5px 10px;
}
div.card { 
    cursor: auto; 
    position: absolute;
    padding: 10px;
    border-radius: 10px;
}
div.draggable{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
div.contents{
}
div.user{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 90%;
}
div.user .icon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
div.user .icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
div.user .name{
    display: inline-block;
    vertical-align: middle;
    color: #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 84%;
}